# Dependencias
node_modules
npm-debug.log

# Sistema operativo
.DS_Store
Thumbs.db

# Nuxt.js
.nuxt
dist

# Ignorar el archivo .env
.env

# Ignorar el archivo nuxt.config.js
nuxt.config.js

# Ignorar el archivo package-lock.json si se está utilizando yarn
package-lock.json

# Ignorar los archivos de respaldo y caché generados por Visual Studio Code

.vscode/settings.json

# Editor
*.swp
*.swo
*.swn
*.bak
*.bak.*
*.log
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Otros
*.log.*
*.pid
*.seed
*.pid.lock